@font-face {
    font-family: 'Jalliya';
    src: url('../fonts/Jalliya.ttf') format('truetype'),
    url('../fonts/Jalliya.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}