
$primary-color: #0BD8B6; //#1FD8A4; #3DD68C;
$secondary-color: #D6F1E3; //#c0f6e7;
$light-color: #FFFFFF;
$background-color: #0D1514;
$background-btn:#0D2D2A;

$sm-bp: 576px;
$md-bp: 768px;
$lg-bp: 992px;
$xl-bp: 1200px;
$xxl-bp: 1400px;

// light mode
$light-background-color:  #FAFEFD; //#E0F8F3;
$light-secondary-color: #0D3D38;
$light-primary-color: #008573;
$light-light-color: #0D2D2A;